{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">Gambler - developed during the dekuthack 2018 uses machine learnign to model available data<br>
  of available soccer teams to predict their perfomance in the future.</p>
  <p>If you are looking to place your bets, don't risk your money before checking the chances you have! Don't let the odds mislead you</p>
  <p>You just need to insert the two teams and we will let you know which team is more likely to win!</p>
<p>According to our test, our model have show up to a 99.3% confidence level in our predictions</p>

<p>
</P>

{% endblock %}
